<section id="clubs" class="container w-[70%] mx-auto p-4 mt-14 mb-14">
  <div class="relative w-full flex flex-col justify-center items-center p-4">

    <div class="flex flex-col justify-center items-center p-4">
        <h2 class="text-3xl font-bold text-gray-900 mb-6">Join a Club</h2>
        <p class="text-gray-600 mb-8 text-center">
        Explore our diverse range of clubs and find the perfect one for you. Whether you're into sports, arts, or academics!
        </p>
    </div>

    <div class="grid grid-cols-3 justify-center items-center gap-4">

      <!-- Left Image -->
      <div class="relative">
        <div class="transform rotate-[40deg]">
          <img 
            src="https://img.freepik.com/free-vector/web-development-programmer-engineering-coding-website-augmented-reality-interface-screens-developer-project-engineer-programming-software-application-design-cartoon-illustration_107791-3863.jpg" 
            alt="Club Logo" 
            class="w-full shadow-lg shadow-slate-900 border-2 mb-4"
          />
        </div>
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-xl font-bold drop-shadow-lg">
          <a href="" class="px-6 py-3 bg-red-500 rounded-xl hover:cursor-pointer">Join Now</a>
        </div>
      </div>

      <!-- Center Image -->
      <div class="relative">
        <img 
          src="https://static.wixstatic.com/media/b843f6_3847421d061e4b0390388cbec80f93df~mv2.jpg/v1/fit/w_2500,h_1330,al_c/b843f6_3847421d061e4b0390388cbec80f93df~mv2.jpg" 
          alt="Club Logo" 
          class="w-full shadow-lg shadow-slate-900 border-2 mb-4"
        />
        <div class="absolute top-2/3 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-xl font-bold drop-shadow-lg">
          <a href="" class="px-6 py-3 bg-red-500 rounded-xl hover:cursor-pointer">Join Now</a>
        </div>
      </div>

      <!-- Right Image -->
      <div class="relative">
        <div class="transform -rotate-[40deg]">
          <img 
            src="https://st4.depositphotos.com/1032227/20366/v/450/depositphotos_203664576-stock-illustration-final-2018-fifa-world-cup.jpg" 
            alt="Club Logo" 
            class="w-full shadow-lg shadow-slate-900 border-2 mb-4"
          />
        </div>
        <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-xl font-bold drop-shadow-lg">
          <a href="" class="px-6 py-3 bg-red-500 rounded-xl hover:cursor-pointer">Join Now</a>
        </div>
      </div>

    </div>

  </div>
</section>
