<nav id="nav" class="fixed top-4 left-1/2 transform -translate-x-1/2 z-50 bg-slate-50 p-2 shadow-lg shadow-slate-400 w-[90%] rounded-2xl">
  <div class="container mx-auto p-2 rounded-3xl">
    <div class="flex justify-between items-center">
      <div class="text-lg font-semibold">
        <img src="https://img.favpng.com/16/24/25/computer-icons-student-icon-design-png-favpng-h9iFhBp1khR0bUTPcUQ9MALHF.jpg" alt="" class="h-12 inline-block rounded-full border-slate-900">
      </div>

      <div class="flex items-center justify-center gap-6">
        <div class="space-x-4 font-semibold text-gray-700">
          <a href="#about" class="hover:text-zinc-950">About</a>
          <a href="#clubs" class="hover:text-zinc-950">Clubs</a>
          <a href="#events" class="hover:text-zinc-950">Events</a>
          <a href="#contacts" class="hover:text-zinc-950">Contact</a>
        </div>
        <div>
          <a id="login__btn" href="#" class="ml-4 bg-blue-500 text-white px-6 py-2 rounded-lg font-bold hover:bg-blue-700 transition duration-300">Login</a>
          <a id="signup__btn" href="#" class="ml-4 bg-emerald-500 text-white px-6 py-2 rounded-lg font-bold hover:bg-emerald-700 transition duration-300">Register</a>
          <button id="dashboard__btn">Dashboard</button>

        </div>
      </div>
    </div>
  </div>
</nav>
